$color-text-dark: #2c3e50;

$color-menu-active: #42b983;

$color-primary: #42b983;
$color-secondary: #792243;

$color-white: #fefefe;
$color-grey-light: #eee;
$color-grey-light-2: #999;
$color-grey: #777;
$color-grey-dark: #333;
$color-black: #000;